@page "/game"
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@using System.Threading;

@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<style>
    #game {
        display: flex;
        justify-content: center;
        min-height: 100vh;
    }

    #guess-screen {
        flex-grow: 1;
    }

    #guess-centered {
        width: 100%;
        min-width: 320px;
        margin: auto;
        text-align: center;
    }

    #game .buttons {
        display: flex;
        justify-content: center;
    }

    #guess-centered h1 {
        margin-top: 100px;
        font-size: 46px;
    }

    #scores {
        position: fixed;
        color: white;
        right: 0;
        height: 100vh;
        font-size: 22px;
        border-left: 1px solid gray;
        background-color: #111;
        overflow-x: hidden; 
        padding-top: 60px;
        transition: 0.5s;
        z-index: 1;
        max-width: 100%;
    }

    #scores .closebtn {
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 50px;
        margin-left: 50px;
        cursor: pointer;
    }

    .score-table {
        margin-top: 64px;
    }

    .score-table td {
        padding: 10px 20px;
    }

    .timer {
        font-size: 42px;
        text-align: center;
    }

    .word {
        background: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX1167877.jpg");
        display: flex;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 52vh;
        align-items: center;
        color: white;
        justify-content: center;
        word-break: break-all;
        padding: 10px;
        margin: -40px 0;
        transition: .6s cubic-bezier(0, 0.74, 0.58, 1);
    }

    .word #word-centered{
        width: 50vh;
        max-width: 70%;
        height: 20vh;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .word #word-text{
        white-space: nowrap;
        display: inline-block;
        padding: 0 20px;
        transition: .6s cubic-bezier(0, 0.74, 0.58, 1);
    }

    .guess-btn {
        border-radius: 50%;
        display: flex;
        height: 100px;
    }

    button.start-btn {
        height: 100px;
        padding: 25px 10px 25px 25px;
        border-radius: 50%;
    }
</style>


<section id="game">
    <section id="guess-screen">
        @if(roundEnded)
        {
            <div id="guess-centered">
                <p> End of round!</p>
                <button class="btn btn-primary" onclick="@StartNextRound" hidden="@(!roundEnded)" > Next </button>
            </div>
        }
        else
        {
            <div id="guess-centered">
                <p> Round @game?.CurrentRound - Fight! </p>

                <div class="menu-btn @(showPlayers ? "opened" : null)" onclick="@(() => showPlayers = !showPlayers)"> 
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>

                <h1>
                    <img style="height:40px" src="/img/user.svg" />
                     @game?.CurrentPlayer?.Name 
                </h1>
            
                @if(isWorking)
                {
                    <p class="word">
                        <span id="word-centered"> 
                             <span id="word-text"> @game.CurrentWord </span>
                        </span>
                    </p>

                    <p class="timer" > @remainingTime</p>
                }

                <div class="buttons">
                    <button class="start-btn" onclick="@HandleTurn" hidden="@isWorking"> <img src="/img/play-button.svg" /> </button>
                    <button class="guess-btn" onclick="@Guess" hidden="@(!isWorking)">  <img src="/img/success.svg" /> </button>
                </div>
            </div>
        }
    </section>
    <aside id="scores" style="width:@(showPlayers ? "600px" : "0")" >
        <a class="closebtn" onclick="@(() => showPlayers = false)">&times;</a>
        <ScoreScreen Scores="@game?.GetScores()" />
    </aside>
</section>

@functions {
    bool isWorking = false;
    bool roundEnded = false;
    bool showPlayers = false;

    Game game;
    
    TimeSpan remainingTime;
    TimeSpan tickRate = TimeSpan.FromSeconds(1);

    protected override void OnInit()
    {
        var words = Storage.GetItem<string[]>("all-words");
        var players = Storage.GetItem<Player[]>("players");

        if(words == null || players == null)
            UriHelper.NavigateTo("/words");

        else game = new Game(words, players);
    }


    async Task HandleTurn()
    {
        isWorking = true;
        roundEnded = false;

        remainingTime = game.TurnTime;
        var playerTurn = game.PlayTurn();
        await ResizeWord();

        while(remainingTime.TotalMilliseconds > 0 && !roundEnded)
        {
            await Task.Delay(tickRate);
            remainingTime = remainingTime.Subtract(tickRate);
            this.StateHasChanged();
        }

        await playerTurn;
        isWorking = false;
        this.StateHasChanged();
    }

    async Task Guess()
    {
        if(remainingTime.TotalSeconds < 1)
            return;

        game.GuessWord();
    
        if(game.CurrentWord == null){
            Console.WriteLine("End of round");
            roundEnded = true;
        }
        
        await Sounds.Success();
    }

    void StartNextRound()
    {
        game.FinishRound();
        roundEnded = false;
        remainingTime = game.TurnTime;
    }

    Task ResizeWord()
    {
        return JSRuntime.Current.InvokeAsync<bool>("deferFit", "#word-text");
    }
}
